<!-- <div>
  <div class="div card" style="width: 50px; height: 50px;">
    <img
      src="http://cdn26.us1.fansshare.com/photo/backgrounddesigns/marvellous-cool-black-and-white-background-about-remodel-wallpaper-hd-design-with-cool-black-and-white-background-background-designs-1906911226.jpg"
      alt=""> </div>
    <div style="background-color: aqua; ">

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
      <br>

      <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput placeholder="Placeholder">
      </mat-form-field>
    </div>
 


</div>
 -->









<div  class="padd"style="background-image: url('http://cdn26.us1.fansshare.com/photo/backgrounddesigns/marvellous-cool-black-and-white-background-about-remodel-wallpaper-hd-design-with-cool-black-and-white-background-background-designs-1906911226.jpg');">
<!-- <img src="http://cdn26.us1.fansshare.com/photo/backgrounddesigns/marvellous-cool-black-and-white-background-about-remodel-wallpaper-hd-design-with-cool-black-and-white-background-background-designs-1906911226.jpg" alt=""> -->

<div class="card">
  
<mat-card class="div"> <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field>
<br>

  <mat-form-field appearance="outline">
    <mat-label>password</mat-label>
    <input matInput placeholder="Placeholder">
  </mat-form-field></mat-card>
</div></div>