
<div  class="bg-img">
    <div class="pad"> 
      <mat-card class="card">
     <div> <h1><strong style="padding-left: 30%;">Forget Password</strong></h1>
        <small style="padding-left: 35%;">Recover your password</small></div><br><br>
       <mat-form-field appearance="outline">
         <mat-label >Email</mat-label>
         <input  matInput placeholder="Email"  type="email">
       </mat-form-field>
       <br>
       <button mat-flat-button class="button1">Log In</button>
       <br><br>
      <small style="padding-left: 20%;">Do not have a account?<a routerLink="/Signin"  class="forget">Register</a></small><br><br>
     </mat-card>
   </div>
   </div>
   
   
   
   
   
   
   
   